/*= Root =*/
:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-mdb1: #0d253f;
  --clr-mdb2: #01b4e4;
  --clr-mdb3: #90cea1;
}
/*=General Project=*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p,
span {
  letter-spacing: 0.1rem;
}
img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #fff;
}

.header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--clr-mdb1);
  transition: top 0.2s linear;
  flex-wrap: wrap;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__logo {
  width: 15rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.nav__logo img {
  width: 100%;
  height: 100%;
}
.nav .nav__list {
  width: 300px;
  margin-right: 2rem;
}
.nav__list ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__list ul a {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
}
/* =========== MAIN ===================*/
.main {
  width: 100%;
  flex-wrap: wrap;
  background-color: #fff;
  margin-top: 6rem;
}
.main .new__index {
  max-width: 1400px;
  width: 100%;
  min-height: 300px;
  height: 40vh;
  color: #fff;
  object-fit: cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("/src/assets/marvel.jpg");
  /*  background-image: linear-gradient(
      to-right,
      rgba(3, 37, 65),
      0.8,
      0%,
      rgba(3, 37, 65),
      0,
      100%
    ),
    url("/src/assets/marvel.jpg");*/
}
.main__container {
  width: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 1rem;
}
/*====== Add All Javascript =========*/
.main__container .movies {
  text-align: center;
}
.main__container .movies .title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
}
.main__container .movies .poster {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}
